@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Cedarville+Cursive&family=Mochiy+Pop+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: black;
}

::-webkit-scrollbar{
  width: 8px;
  background-color: black;
}
::-webkit-scrollbar-thumb{
  background-color: #8000ff;
}


.menu{
  animation: rightslide 0.8s ease-in-out forwards ;
  animation-delay: 0.1s;
}

.card:hover{
  transform: scale(1.1);
}

@keyframes rightslide {
  0%{
      transform: translateX(120px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
}